div.animal-container {
  text-align: center;
}

.animal-container-box {
  width: 20%;
  float: left;
  margin: 1%;
  border: 1px black solid;
  background-color:#C6E0FF;
  padding: 1%;
}

img {
  width:100%;
  border-radius: 20%;
}

h1 {
  text-align: center;
  font-family: fantasy;

}

body {
  background-color: #9EBC9F;
}

.beluga {
color: red;
}
