div.animal-container {
  text-align: center;
}

.animal-container-box {
  width: 20%;
  float: left;
  margin: 1%;
  border: none;
  background-color:#C6E0FF;
  padding: 1%;
  font-family: 'Sniglet', cursive;
}

img {
  width:100%;
  border-radius: 20%;
}

h1 {
  text-align: center;
  font-family: fantasy;

}

body {
  background-color: #C6E0FF;
}

.beluga {
color:black;
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  .animal-container-box {
    width: 80%;
    margin:auto;
    float: none;
    text-align: left;
    border: none;
    padding-bottom: 50px;
  }

  body {
    background-color: #C6E0FF;
  }

  .beluga {
    color: inherit;
  }

}

@media screen and (max-width: 1000px) and (min-width: 700px){
  .animal-container-box {
    width: 50%;
    margin:auto;
    float; right: auto;
    text-align: left;
    border: none;
    padding-bottom: 50px;
}
